*.iml
/.idea/
/test/.idea/
/test/target/
/pic12f683/03_basic_assignment/.idea/
/pic12f683/template_proyect/.idea/
/neogen_codegen/target/
/pic12f683/04_neogen_codegen/target/
pic12f683/02_timer2_toggle/target/main.hex
pic12f683/02_timer2_toggle/target/main.s
*.hex
*.s
